<form method="post">
    <table>
        <tr>
            <td>Name :</td>
            <td> <input type="text" name="name" value="<%= data.name %>"> </td>
        </tr>
        <tr>
            <td>Email :</td>
            <td> <input type="email" name="email" value="<%= data.email %>"> </td>
        </tr>
        <tr>
            <td>Password :</td>
            <td> <input type="password" name="password" value="<%= data.password %>"> </td>
        </tr>
        <tr>
            <td></td>
            <td> <input type="submit" value="Update"> </td>
        </tr>
    </table>
</form>
